//  Card com nome do jogo
.name-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    margin: auto;

    --color: #6994BC;
    --background: #3D0461;
}