<ion-header>
	<ion-toolbar class="header">
		<ion-buttons slot="start">
			<ion-back-button defaultHref='gameplays/playing-games'></ion-back-button>
		</ion-buttons>

        <!-- Exibe nome da gameplay no cabeçalho -->
		<ion-title class="title">{{gameplay_to_show.name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<ion-grid fixed>
		<ion-row>

            <!-- Espaçamento -->
			<ion-col size="3"></ion-col>

			<ion-col size="6"  (click)="databaseService.redirectToGameDetails(gameplay_to_show.gameId)">

                <!-- Nome do jogo -->
				<ion-row>
					<ion-card class="name-card-style">
						<ion-text>{{gameplay_to_show.gameName}}<br></ion-text>
					</ion-card>
				</ion-row>

                <!-- Imagem do jogo -->
				<ion-row>
					<ion-img [src]="gameplay_to_show.gameCoverURL" class="cover-style" style="width: 90px; height: 90px; border-width: 2px;"></ion-img>
				</ion-row>

			</ion-col>

            <!-- Espaçamento -->
			<ion-col size="3"></ion-col>

		</ion-row>
	</ion-grid>

    <!-- Seção de anotações livres -->
	<ion-grid *ngIf="gameplaysService.isTabSelected('Notas', gameplaysService.gameplayDetailsSection)">
		<ion-card class="textarea-card-style">
			<ion-textarea autoGrow="true" [(ngModel)]="gameplay_to_show.notes" (ngModelChange)="gameplaysService.updateGameplays()" class="textarea-input-style"></ion-textarea>
		</ion-card>
	</ion-grid>

    <!-- Seção de seleção de fases -->
	<ion-grid *ngIf="gameplaysService.isTabSelected('Fases', gameplaysService.gameplayDetailsSection)">

        <!-- Botão para seguir com a adição de uma nova fase -->
		<ion-button (click)="gameplaysService.enterNameDescription()" class="add-stage-button-style">
			<ion-icon name="add-circle"></ion-icon>
		</ion-button>
		
        <!-- Busca de fase por seu nome ou descrição -->
		<ion-item color="none">
			<ion-input [(ngModel)]="gameplaysService.stageTextInput" (ngModelChange)="gameplaysService.searchStageByTextInput()" placeholder="Buscar por nome" type="text" class="search-by-name-style">
			</ion-input>
		</ion-item>

        <!-- Filtros de status das fases -->
		<ion-segment [(ngModel)]="gameplaysService.chosenStageStatus" (ngModelChange)="gameplaysService.applyStageStatusAndTextFilter()" >
			<ion-segment-button value="Todos">
				<ion-label class="segment-label-style">Todos</ion-label>
			</ion-segment-button>
            <ion-select-option class="status-list-label-style" *ngFor="let option of gameplaysService.gameplayStatusOptionsEnum | keyvalue: databaseService.originalOrder" [value]=option.value>{{option.value}}</ion-select-option>

			<ion-segment-button 
                *ngFor="let status of gameplaysService.gameplayStageStatusOptionsEnum | keyvalue: databaseService.originalOrder" 
                [value]=status.value
            >
				<ion-label class="segment-label-style">{{status.value}}</ion-label>
            </ion-segment-button>
		</ion-segment>

        <!-- Exibição para quando não há fases para exibir -->
		<ion-card *ngIf="gameplaysService.getCurrentStagesSetToShow().length == 0" class="no-results-card-style">
			<ion-text class="no-results-input-style">Sem resultados!</ion-text>
		</ion-card>

        <!-- Itera sobre as fases da gameplay -->
        <ion-card   *ngFor="let stage of gameplaysService.getCurrentStagesSetToShow()" 
                    class="card-style" 
                    [ngStyle]="{'--background': this.gameplaysService.allColorsMap.get(stage.id % 2 + 'Background')}">
			<ion-grid fixed>
				<ion-row>
					<ion-col size="10" (click)="gameplaysService.loadStage(stage)">
                        
                        <!-- ID da fase -->
						<ion-text   class="card-input-style" 
                                    [ngStyle]="{'color': this.gameplaysService.allColorsMap.get(stage.id % 2 + 'Font')}"
                                    style="font-size: 15px;">Nº {{stage.id}}<br>
                        </ion-text>

                        <!-- Nome da fase -->
						<ion-text   class="card-input-style" 
                                    [ngStyle]="{'color': this.gameplaysService.allColorsMap.get(stage.id % 2 + 'Font')}"
                                    style="font-size: 15px;">Nome: {{stage.name}}<br>
                        </ion-text>

                        <!-- Descrição da fase -->
						<ion-text   class="card-input-style" 
                                    [ngStyle]="{'color': this.gameplaysService.allColorsMap.get(stage.id % 2 + 'Font')}"
                                    style="font-size: 15px;">Descrição: {{stage.description}}<br>
                        </ion-text>

                        <!-- Status da fase -->
						<ion-text   class="card-input-style" 
                                    [ngStyle]="{'color': this.gameplaysService.allColorsMap.get(stage.id % 2 + 'Font')}"
                                    style="font-size: 15px;">Status: {{stage.status}}<br>
                        </ion-text>

					</ion-col>

                    <!-- Botão de deleção da fase -->
					<ion-col size="2">
						<ion-button size="small" (click)="gameplaysService.confirmStageDeletion(stage)" class="delete-stage-button-style">
							<ion-icon size="small" slot="icon-only" name="trash" size="medium"></ion-icon>
						</ion-button>
					</ion-col>

				</ion-row>
			</ion-grid>
		</ion-card>
	</ion-grid>

    <!-- Paginação da seção de fases -->
	<ion-grid 	*ngIf="gameplaysService.isTabSelected('Fases', gameplaysService.gameplayDetailsSection)" 
				fixed slot="fixed" class="footer-page-numbering-style">
		<ion-row>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

            <!-- Voltar página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.backPage()" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Página atual -->
			<ion-col size="4">
				<ion-card color="none" class="page-number-card-style">
					<ion-label class="page-number-text-style">Página {{gameplaysService.currentPage}}</ion-label>
				</ion-card>
			</ion-col>

            <!-- Próxima página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.forwardPage('Stages')" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>
		</ion-row>
	</ion-grid>

	<div style="margin-bottom: 130px;"></div>
    
    <!-- Seção de histórico -->
	<ion-grid *ngIf="gameplaysService.isTabSelected('Histórico', gameplaysService.gameplayDetailsSection)">
		<ion-card *ngFor="let history of gameplaysService.builtHistoriesToShowMap.get(gameplaysService.currentPage)" class="history-card-style">
			<ion-text class="history-text-style">{{history.text}}</ion-text>
		</ion-card>
	</ion-grid>

    <!-- Paginação da seção de histórico -->
	<ion-grid 	*ngIf="gameplaysService.isTabSelected('Histórico', gameplaysService.gameplayDetailsSection)" 
				fixed slot="fixed" class="footer-page-numbering-style" style="bottom: 50px;">
		<ion-row>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

            <!-- Voltar página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.backPage()" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Página atual -->
			<ion-col size="4">
				<ion-card color="none" class="page-number-card-style">
					<ion-label class="page-number-text-style">Página {{gameplaysService.currentPage}}</ion-label>
				</ion-card>
			</ion-col>

            <!-- Próxima página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.forwardPage('History')" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>
		</ion-row>
	</ion-grid>

	<div style="margin-bottom: 260px;"></div>
</ion-content>