//  Card com nome do jogo
.name-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    margin: auto;

    --color: #6994BC;
    --background: #3D0461;
}

//  Área de inserção de notas para gameplay
.textarea-card-style{
    --background: #dc0fa56c;
}

//  Estilo da fonte das notas para gameplay
.textarea-input-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 20px;
    color: #3D0461;
}