//  Card com nome do jogo
.name-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    margin: auto;

    --color: #6994BC;
    --background: #3D0461;
}

//  Área de inserção de notas para gameplay
.textarea-card-style{
    --background: #dc0fa56c;
}

//  Estilo da fonte das notas para gameplay
.textarea-input-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 20px;
    color: #3D0461;
}

//  Botão de adicionar stage para a Gameplay
.add-stage-button-style{
    --background: var(--darker-purple);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 42%;
    margin-right: 42%;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: 'Londrina Solid', cursive; 
    font-size: 20px;
}

//  FIltragem dos stages por progresso
.segment-label-style{
    font-family: "Londrina Solid", cursive;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffffd1;
}

//  Estilo do filtro selecionado
ion-segment-button{
    --color-checked: #e7ff14;
}

//  Mensagem para nenhuma correspondência de busca - Card de exibição
.no-results-card-style{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    padding: 5px;
    
    --background: #e42b2b7f;
}

//  Mensagem para nenhuma correspondência de busca - Estilo da fonte
.no-results-input-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    
    --color: #3a0000;
    color: #3a0000;
}

//  Botão para deletar stage
.delete-stage-button-style{
    --background: rgba(87, 32, 32, 0.75);
    --color: #cde3ef92;
}