<ion-header>
	<ion-toolbar class="header">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home" (click)="gameplaysService.returnFromGameplaysPage()"></ion-back-button>
		</ion-buttons>
		<ion-title class="title">
			Meus jogos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">

    <!-- Mensagem para quando não há gameplays com o status ou texto atual -->
    <ion-card   *ngIf="!gameplaysService.getCurrentGameplaySetToShow().length"
                class="no-loaded-gameplays-card-style"
    >
        <ion-text class="no-loaded-gameplays-text-style">Vazio!</ion-text>
    </ion-card>

    <!-- Itera sobre as gameplays a serem exibidas -->
	<ion-item color="none" *ngFor="let gameplay of gameplaysService.getCurrentGameplaySetToShow()">
		<ion-grid fixed>

            <ion-row>

                <!-- Nome da gameplay -->
				<ion-col size="10">
					<ion-card class="gameplay-name-card-style">
						<ion-text>{{gameplay.name}}<br></ion-text>
					</ion-card>
				</ion-col>

			</ion-row>

			<ion-row>
				<ion-col size="4">

                    <!-- Nome do jogo -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="name-card-style">
								<ion-text>{{gameplay.gameName}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

                    <!-- Imagem do jogo -->
					<ion-row>
						<ion-col size="12">
							<ion-img [src]="gameplay.gameCoverURL" class="cover-style" style="width: 90px; height: 90px; border-width: 2px;"></ion-img>
						</ion-col>
					</ion-row>

                    <!-- Data de criação da gameplay -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="date-card-style">
								<ion-text>{{gameplay.addingDate}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

				</ion-col>

			</ion-row>

		</ion-grid>
	</ion-item>
	
	<div style="margin-bottom: 130px;"></div>
</ion-content>