//  Card com nome da gameplay
.gameplay-name-card-style{
    text-align: center;
    font-family: "Londrina Solid", cursive;
    font-weight: 500;
    font-size: 20px;
    margin: 0px;

    --color: #FFFFFF;
    --background: #1E0230;
}

//  Card com nome do jogo
.name-card-style{
    text-align: center;
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    margin: 0px;

    --color: #6994BC;
    --background: #3D0461;
}