<ion-header>
	<ion-toolbar class="header">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home" (click)="gameplaysService.returnFromGameplaysPage()"></ion-back-button>
		</ion-buttons>
		<ion-title class="title" style="padding-top: 15px">
			Meus jogos

            <!-- Botão para importação das plays -->
			<ion-button (click)="gameplaysService.importPlays()" fill="clear" shape="round" class="import-button-style">
				<ion-icon slot="icon-only" name="download" style="color: green;"></ion-icon>
			</ion-button>

            <!-- Botão para exportação das plays -->
			<ion-button (click)="gameplaysService.exportPlays()"  fill="clear" shape="round">
				<ion-icon slot="icon-only" name="share" style="color: orange;"></ion-icon>
			</ion-button>
            
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">

    <!-- Busca de gameplays por nome -->
	<ion-item color="none">
		<ion-input [(ngModel)]="gameplaysService.gameplayTextInput" (ngModelChange)="gameplaysService.searchGameplayByTextInput()" placeholder="Buscar por nome" type="text" class="search-by-name-style">
		</ion-input>
	</ion-item>

    <!-- Mensagem para quando não há gameplays com o status ou texto atual -->
    <ion-card   *ngIf="!gameplaysService.getCurrentGameplaySetToShow().length"
                class="no-loaded-gameplays-card-style"
    >
        <ion-text class="no-loaded-gameplays-text-style">Vazio!</ion-text>
    </ion-card>

    <!-- Itera sobre as gameplays a serem exibidas -->
	<ion-item color="none" *ngFor="let gameplay of gameplaysService.getCurrentGameplaySetToShow()">
		<ion-grid fixed>

            <ion-row>

                <!-- Nome da gameplay -->
				<ion-col size="10" (click)="redirectToChosenGameplay(gameplay)">
					<ion-card class="gameplay-name-card-style">
						<ion-text>{{gameplay.name}}<br></ion-text>
					</ion-card>
				</ion-col>

                <!-- Botão de deleção -->
				<ion-col>
					<ion-button (click)="gameplaysService.confirmGameDeletion(gameplay)" class="delete-game-button-style">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</ion-col>

			</ion-row>

			<ion-row>
				<ion-col size="4" (click)="redirectToChosenGameplay(gameplay)">

                    <!-- Nome do jogo -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="name-card-style">
								<ion-text>{{gameplay.gameName}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

                    <!-- Imagem do jogo -->
					<ion-row>
						<ion-col size="12">
							<ion-img [src]="gameplay.gameCoverURL" class="cover-style" style="width: 90px; height: 90px; border-width: 2px;"></ion-img>
						</ion-col>
					</ion-row>

                    <!-- Data de criação da gameplay -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="date-card-style">
								<ion-text>{{gameplay.addingDate}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

				</ion-col>


				<ion-col size="8">
					<ion-row>
                        <ion-col size="12">

                            <!-- Alteração do status da gameplay -->
							<ion-item class="status-list-style">
								<ion-label class="status-list-style">Status</ion-label>
								<ion-select class="status-list-style" okText="OK" cancelText="Cancelar" multiple="false"
                                            [(ngModel)]="gameplay.status" 
                                            (ngModelChange)="gameplaysService.confirmGameStatusChange(gameplay)">
									<ion-select-option class="status-list-label-style" *ngFor="let option of gameplaysService.gameplayStatusOptionsEnum | keyvalue: databaseService.originalOrder" [value]=option.value>{{option.value}}</ion-select-option>
								</ion-select>
							</ion-item>

                            <!-- Espaçamento (que também redireciona para a gameplay) -->
							<ion-item color="none" style="margin-bottom: 10px;" (click)="redirectToChosenGameplay(gameplay)"></ion-item>

                            <!-- Redirecionar para informações do jogo -->
							<ion-item class="game-info-style" (click)="databaseService.redirectToGameDetails(gameplay.gameId)">
								<ion-icon name="information-circle" slot="start"></ion-icon>
								<ion-label class="game-info-style">Info do jogo</ion-label>
							</ion-item>

						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>

		</ion-grid>
	</ion-item>
	
	<ion-grid fixed slot="fixed" class="footer-page-numbering-style">
		<ion-row>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

            <!-- Voltar página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.backPage()" class="back-forward-page-style" style="bottom: 50px">
					<ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Página atual -->
			<ion-col size="4">
				<ion-card color="none" class="page-number-card-style">
					<ion-label class="page-number-text-style">Página {{gameplaysService.currentPage}}</ion-label>
				</ion-card>
			</ion-col>

            <!-- Próxima página -->
			<ion-col size="2">
				<ion-button (click)="gameplaysService.forwardPage('Gameplays')" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

		</ion-row>
	</ion-grid>
	<div style="margin-bottom: 130px;"></div>
</ion-content>