//  Card com nome da gameplay
.gameplay-name-card-style{
    text-align: center;
    font-family: "Londrina Solid", cursive;
    font-weight: 500;
    font-size: 20px;
    margin: 0px;

    --color: #FFFFFF;
    --background: #1E0230;
}

//  Card com nome do jogo
.name-card-style{
    text-align: center;
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 15px;
    margin: 0px;

    --color: #6994BC;
    --background: #3D0461;
}

//  Item com lista dos status da gameplay
.status-list-style{
    --background: #3d046146;
    font-family: "Londrina Solid", cursive;
    font-size: 16px;
    padding: 0px;
    --color: rgba(221, 221, 221, 0.756);
}

//  Texto da lista dos status da gameplay
.status-list-label-style{
    font-family: "Londrina Solid", cursive;
    color: #8e729e;
}

//  Item com redirect para dados detalhados do jogo
.game-info-style{
    --background: #04136146;
    font-family: "Londrina Solid", cursive;
    font-size: 16px;
    padding: 0px;
    --color: rgba(221, 221, 221, 0.756);
}