/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    --dark-purple: rgb(78, 16, 116);
    --darker-purple: rgb(47, 7, 84);
}


//  Fonte padrão da aplicação
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

//  Cores padrão da aplicação
:root {
    --dark-purple: rgb(78, 16, 116);
    --darker-purple: rgb(47, 7, 84);
}

//  Título do cabeçalho
.title {
    font-family: "Londrina Solid", cursive;
    font-weight: bold;
    font-size: 25px;
}

//  Cabeçalho
.header{
    --background: var(--dark-purple);
    --color: white;
}

//  Imagem de fundo de todas as páginas
.background{
    --background: url('/assets/images/background.png')0 0/100% 100% no-repeat;
}

//  Resetar filtros escolhidos
.reset-filter-style{
    --background: #ff4d0076; 
}

//  Botão de busca
.search-button-style{
    --background: var(--dark-purple);
}

//  Barra de input de busca por nome
.search-by-name-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 100;
    font-size: 19px;
    --color: #ddb7ff;
}


//  Toggle do Accordion do menu lateral para exibição dos filtros
.ion-accordion-toggle-icon{
    color: white;
}

//  Exibição de jogo - Imagem de capa
.cover-style{
    border-style: solid;
    border-color: #4E1075;
    object-fit: cover;
    margin: auto;
}

//  Exibição de jogo - Card dos Gêneros
.genre-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    margin: 0px;

    --color: #6994BC;
    --background: #3D0461;
}

//  Exibição de jogo - Card das Plataformas
.platform-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    margin: 0px;

    --color: #6994BC;
    --background: #3D0461;
}

//  Exibição de jogo - Card das Empresas
.company-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    margin: 0px;

    --color: #6994BC;
    --background: #3D0461;
}

//  Exibição de jogo - Card da Data de lançamento
.date-card-style{
    text-align: center;
    font-family: "Londrina Solid", cursive;
    font-weight: 500;
    font-size: 14px;

    --color: #FFFFFF;
    --background: #470B03;
}

//  Botão para adição de jogo à lista de jogatinas
.add-game-button-style{
    --background: #0D9132;
}

//  Botão de aviso para jogo já adicionado
.warning-card-style{
    --background: #8F1705;
    width: 30px;
}

//  Item para mensagem para nenhum resultado foi encontrado
.warning-item-style{
    --background: #6c1313cd;
}

//  Paginação - Item que contém a navegação por páginas
.footer-page-numbering-style{
    background-color: var(--dark-purple); 
    position: absolute; 
    bottom: 50px;
}

//  Paginação - Elementos para ir e voltar das páginas
.back-forward-page-style{
    --background: rgb(11, 2, 19, 0);
}

//  Paginação - Card com o número da página atual
.page-number-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 100;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    height: 40px;
    text-align: center;
}

//  Paginação - Estilo do texto da página atual
.page-number-text-style{
    color: #FFFFFF;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//  Gameplays - Estilo do rodapé com tabs de filtragem
.footer-tab-bar-style{
    --background: var(--dark-purple);
}

//  Gameplays - Estilo do filtro selecionado
.footer-tab-button-selected-style{
    font-family: "Londrina Solid", cursive;
    font-size: 15px;
    
	--background: var(--dark-purple);
    --color: #c6c258;
}

//  Gameplays - Estilo do filtro não selecionado
.footer-tab-button-unselected-style{
    font-family: "Londrina Solid", cursive;
    font-size: 15px;
    
	--background: var(--dark-purple);
    --color: #9882c7;
}

//  Gameplays - Card para aviso quando não há gameplays para carregar
.no-loaded-gameplays-card-style{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 15px;
    padding: 5px;
    text-align: center;

    --background: #e46f2b4c;
}

//  Gameplays - Texto do aviso quando não há gameplays para carregar
.no-loaded-gameplays-text-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 400;
    font-size: 25px;
    
    color: #3a1900;
}

//  Estilo do elemento de Loading
.loading-info-style{
    --background: #1E0230;
    color: rgba(221, 221, 221, 0.756);
    font-family: "Londrina Solid", cursive;
}

//  Estilo dos elementos de Alert
.base-alert-style {
    --background: #1e0230;
    font-family: "Londrina Solid", cursive;

    //  Botões de OK e CANCELAR
    button {
        color: rgb(225, 66, 249) !important;
        font-size: 17px !important;
    }

    //  Texto de input dentro do alert
    .alert-input {
        color: #8e729e;
        font-size: 15px;
    }

    //  Textos de exibição
    .alert-message {
        color: #8e729e;
        font-size: 20px;
    }
}

//  Lista de opções dentro do Alert - Estilo de opção selecionada
.base-alert-style [aria-checked="true"] .alert-radio-label.sc-ion-alert-md{
    color: #c2aecd;
}
//  Lista de opções dentro do Alert - Estilo de opção não selecionada
.base-alert-style [aria-checked="false"] .alert-radio-label.sc-ion-alert-md{
    color: #c2aecd;
}

//  Estilo do alert exibido em caso de erro da API
.error-alert-style {
    --background: #400404;
    font-family: "Londrina Solid", cursive;
    
    //  Botão de confirmação
    button {
        color: rgb(247, 213, 203) !important;
        font-size: 13px !important;
    }

    //  Estilo da mensagem exibida
    .alert-message {
        color: #ce4e4e;
        font-size: 15px;
    }
}

//  Estilo do toast exibido em caso de erro
.error-toast-style {
    --background: rgb(142, 11, 11);
    font-family: "Londrina Solid", cursive;
    color: #ffffff;
    font-size: 15px;
}

//  Estilo do toast exibido em caso de sucesso
.success-toast-style {
    --background: rgb(11, 142, 52);
    font-family: "Londrina Solid", cursive;
    color: #ffffff;
    font-size: 15px;
}

//  Ion Select (games-by-progress) - Caixa inteira
.alert-wrapper.sc-ion-alert-md {
    --background: #1e0230;
}

//  Ion Select (games-by-progress) - Header
.alert-title.sc-ion-alert-md{
    font-family: "Londrina Solid", cursive;
    color: #8e729e;
}

//  Ion Select (games-by-progress) - Opções selecionadas
[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    font-family: "Londrina Solid", cursive;
    color: #c2aecd;
}

//  Ion Select (games-by-progress) - Opções não selecionadas
[aria-checked="false"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    font-family: "Londrina Solid", cursive;
    color: #c2aecd;
}

//  Ion Select (games-by-progress) - Botões de OK e CANCELAR
.alert-button-group.sc-ion-alert-md{
    button {
        font-family: "Londrina Solid", cursive;
        color: rgb(225, 66, 249) !important;
        font-size: 17px !important;
    }
}