//  Menu Lateral - Fundo
.menu-background-style{
    --background: rgb(15, 3, 26);
}

//  Menu Lateral - Retornar para Home Page
.menu-item-home-style{
    --background: var(--darker-purple);
    margin-top: 10px;
}

//  Menu Lateral - Ícone de cada item
.menu-icon-style{
    color: #FFFFFF;
    size: 30px;
}

//  Menu Lateral - Rótulo de cada item
.menu-label-style{
    font-family: "Londrina Solid", cursive;
    font-size: 25px;
    
    --color: #FFFFFF;
}

//  Menu Lateral - Item com opções dos filtros
.menu-item-filter-style{
    --background: var(--darker-purple);
}

//  Menu Lateral - Separador de itens
.menu-separator-style{
    --background: rgb(255, 255, 255); 
    height: 3px;
}

//  Dropdown de filtros - Item de cada filtro
.filter-item-style{
    --background: rgb(104, 25, 177);
}

//  Dropdown de filtros - Label de cada item por filtro
.filter-label-style{
    font-family: "Londrina Solid", cursive;
    font-size: 18px;

    --color: #FFFFFF;
}

//  Lista de jogos buscados - Item de cada jogo
.game-item-style{
    font-family: "Londrina Solid", cursive;
    padding-left: 10px;
}

//  Lista de jogos buscados - Card com Nome
.name-card-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 500;
    font-size: 18px;
    margin: 0px;

    --color: #FFFFFF;
    --background: #1E0230;
}

//  Lista de jogos buscados - Badge com Nota
.rating-badge-style{
    --color: #FFFFFF;
    --background: #A58A35;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//  Estilo da mensagem para quando nenhum resultado foi encontrado
.warning-label-style{
    font-family: "Londrina Solid", cursive;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: #d0cdcd;
}