<!-- Menu lateral -->
<ion-menu contentId="menu-content" menuId="main-menu" side="start" type="overlay">
	<ion-content class="menu-background-style">
                
        <!-- Retornar para a home page -->
		<ion-item routerLink='/home' class="menu-item-home-style">
			<ion-icon slot="start" name="home" class="menu-icon-style"></ion-icon>
			<ion-label class="menu-label-style">Home</ion-label>
		</ion-item>

        <!-- Separador de itens -->
		<ion-item class="menu-separator-style"></ion-item>

        <!-- Redirecionar para a página de gameplays -->
		<ion-item class="menu-item-filter-style" style="margin-top: 0px;">
            <ion-icon slot="start" name="game-controller" class="menu-icon-style"></ion-icon>
			<ion-label class="menu-label-style">Jogatinas</ion-label>
		</ion-item>

        <ion-item class="menu-separator-style"></ion-item>

        <!-- Seleção de filtros a serem usados na pesquisa de jogos -->
		<ion-accordion-group>
			<ion-accordion value="filters">
				<ion-item slot="header" class="menu-item-filter-style">
					<ion-icon slot="start" name="funnel" class="menu-icon-style"></ion-icon>
                    <ion-label class="menu-label-style">Filtros</ion-label>
                </ion-item>

                <ion-list slot="content" style="background-color: rgb(11, 2, 19);">
					<ion-row *ngFor="let filter of filtersEnum | keyvalue: originalOrder">

                        <!-- Redireciona para a página do filtro escolhido -->
						<ion-col size="9" (click)="changeCurrentFilter(filter.value)">
							<ion-item class="filter-item-style">
								<ion-label class="filter-label-style">{{filter.value}}</ion-label>
							</ion-item>
						</ion-col>

                        <!-- Retirar filtro da filtragem atual -->
						<ion-col size="2" *ngIf="filtersService.isChosenFilterBeingUsed(filter.value)">
							<ion-button (click)="filtersService.resetFilter(filter.value, false)" class="reset-filter-style">
								<ion-icon slot="icon-only" name="close"></ion-icon>
							</ion-button>
						</ion-col>

					</ion-row>

                    <!-- Resetar todos os filtros sendo atualmente aplicados -->
					<ion-row>
						<ion-col size="12">
							<ion-button (click)="filtersService.resetAllFilters()" class="reset-filter-style">
								<ion-icon slot="start" name="close"></ion-icon>
								Redefinir
							</ion-button>
						</ion-col>
					</ion-row>
                    
				</ion-list>
			</ion-accordion>
		</ion-accordion-group>
	</ion-content>
</ion-menu>
<ion-router-outlet id="menu-content"></ion-router-outlet>

<ion-header>
	<ion-toolbar class="header">

        <!-- Abrir menu lateral -->
		<ion-buttons slot="start">
			<ion-menu-button menu="main-menu"></ion-menu-button>
		</ion-buttons>
        
		<ion-title class="title">Procure um jogo</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="background">
	<ion-item color="none">
		<ion-grid fixed>
			<ion-row>

                <!-- Barra de pesquisa dos jogos por nome -->
				<ion-col size="10">
					<ion-input (keyup.enter)="databaseService.searchByName()" [(ngModel)]="this.databaseService.inputName" placeholder="Buscar por nome" type="text" class="search-by-name-style">
					</ion-input>
				</ion-col>

                <!-- Botão de submit da pesquisa -->
				<ion-col size="2">
					<ion-button (click)="databaseService.searchByName()" class="search-button-style">
						<ion-icon slot="icon-only" name="search"></ion-icon>
					</ion-button>
				</ion-col>

			</ion-row>
		</ion-grid>
	</ion-item>

    <!-- Exibição da lista de jogos filtrados no momento -->
	<ion-item color="none" class="game-item-style" *ngFor="let gameAPI of this.databaseService.builtGamesToShowMap.get(this.databaseService.currentPage)">
		<ion-grid fixed>
			<ion-row>

				<ion-col size="4" (click)="databaseService.redirectToGameDetails(gameAPI.id)">
					
                    <!-- Imagem de capa -->
                    <ion-row>
						<ion-col size="12">
							<ion-img [src]="gameAPI.coverURL" class="cover-style" style="width: 75px; height: 75px; border-width: 2px;"></ion-img>
						</ion-col>
					</ion-row>

                    <!-- Nota -->
					<ion-row>
						<ion-col size="12">
							<ion-badge class="rating-badge-style" mode="ios" *ngIf="gameAPI.rating != null">{{gameAPI.rating}}</ion-badge>
						</ion-col>
					</ion-row>

                    <!-- Data de lançamento -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="date-card-style">
								<ion-text>{{gameAPI.releaseDate}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-col>

				<ion-col size="5" (click)="databaseService.redirectToGameDetails(gameAPI.id)">

                    <!-- Nome -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="name-card-style">
								<ion-text>{{gameAPI.name}} <br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

                    <!-- Gêneros -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="genre-card-style">
								<ion-text *ngFor="let genre of gameAPI.genres">> {{genre}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

                    <!-- Plataformas -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="platform-card-style">
								<ion-text *ngFor="let platform of gameAPI.platforms">* {{platform}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>

                    <!-- Empresas -->
					<ion-row>
						<ion-col size="12">
							<ion-card class="company-card-style">
								<ion-text *ngFor="let company of gameAPI.companies">- {{company}}<br></ion-text>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-col>
                
				<ion-col size="3">

                    <!-- Adicionar jogo na lista de Jogatinas -->
					<ion-row>
						<ion-col size="12">
							<ion-button (click)="this.gameplaysService.confirmGameAdding(gameAPI)" class="add-game-button-style">
								<ion-icon slot="icon-only" name="add"></ion-icon>
							</ion-button>
						</ion-col>
					</ion-row>

                    <!-- Símbolo de aviso caso jogo já tenha sido adicionado -->
					<ion-row *ngIf="this.gameplaysService.isGameAlreadyAdded(gameAPI.id)">
						<ion-col size="12">
							<ion-card class="warning-card-style">
								<ion-text>
									<ion-img src="./assets/images/warning.png"></ion-img>
								</ion-text>
							</ion-card>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-item>

    <!-- Mensagem de erro para quando a busca por nome ou filtro não traz nenhum resultado -->
	<ion-item class="warning-item-style" *ngIf="!databaseService.hasLoadedGamesOnPage">
		<ion-label class="warning-label-style" style="font-size: 20px;">Nenhum resultado encontrado!</ion-label>
	</ion-item>

	<div style="margin-bottom: 70px;"></div>
	<ion-grid fixed slot="fixed" class="footer-page-numbering-style" style="bottom: 0px">
		<ion-row>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

            <!-- Voltar página -->
			<ion-col size="2">
				<ion-button (click)="databaseService.backPage()" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-back-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Página atual -->
			<ion-col size="4">
				<ion-card color="none" class="page-number-card-style">
					<ion-label class="page-number-text-style">Página {{databaseService.currentPage}}</ion-label>
				</ion-card>
			</ion-col>

            <!-- Próxima página -->
			<ion-col size="2">
				<ion-button (click)="databaseService.forwardPage()" class="back-forward-page-style">
					<ion-icon slot="icon-only" name="arrow-forward-circle"></ion-icon>
				</ion-button>
			</ion-col>

            <!-- Espaçamento -->
			<ion-col size="2"></ion-col>

		</ion-row>
	</ion-grid>
</ion-content>