@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap");

.label {
	font-family: "Londrina Solid", cursive;
}

.background{
	--background: url('/assets/images/background.png')0 0/100% 100% no-repeat;
}

.logo-full{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 50px;
}

.logo-icon{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 65%;
	margin-bottom: 30px;
}

.button{
	display: block;
	margin-left: 60px;
	margin-right: 60px;

	font-family: "Londrina Solid", cursive;
	font-size: 20px;
	--background: rgb(147, 46, 210);
	--color: rgb(255, 255, 129);
}