<ion-content class="background">

	<!-- Logotipo completo -->
	<ion-img src="./assets/images/logo-full.png" class="logo-full"></ion-img>

	<!-- Redireciona para página com as gameplays criadas pelo usuário -->
	<ion-button (click)="redirectToMyGameplays()" class="button">
		MINHAS JOGATINAS
	</ion-button>

	<!-- Redireciona para página de busca de jogos -->
	<ion-button (click)="redirectToGameSearching()" class="button">
		PROCURAR JOGOS
	</ion-button>

	<!-- Logotipo simplificado -->
	<ion-img src="./assets/images/logo-icon.png" class="logo-icon"></ion-img>

</ion-content>