//  Logotipo do topo da tela
.logo-full{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

//  Logotipo do rodapé da tela
.logo-icon{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
}

//  Botões para ir para as jogatinas e para a busca de jogos
.button{
	display: block;
	margin-left: 60px;
	margin-right: 60px;

	font-family: "Londrina Solid", cursive;
	font-size: 20px;
	--background: rgb(147, 46, 210);
	--color: rgb(255, 255, 129);
}